.github/**
.pnpm/**
.vscode/**
.vscode-test/**
examples/**
artifacts/**
docs/**
node_modules/**
scripts/**
src/**
test/**
**/*.map
**/*.ts
.editorconfig
eslint.config.ts
.gitattributes
.gitignore
.npmrc
esbuild.js
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.json
vsc-extension-quickstart.md
*.todo
dist/extension.js.LICENSE.txt
img/demo.png
misc.md